# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
*.obj
*.exe
*.pdb
*.lib
*.dll
*.cache
*.ilk
*.idb
*.log
Game_Application/log.txt

# Build folders
Debug/
Release/
x64/
bin/
obj/

# Compiled shader binaries
*.cso

Assimp/